{% extends 'layout/base.html' %}

{% block title %} Đăng ký tài khoản {% endblock %}

{% block content %}
<h1 class="sub">ĐĂNG KÝ TÀI KHOẢN</h1>

{% if err_msg %}
<div class="alert alert-danger">
  <h4>{{ err_msg }}</h4>
</div>
{% endif %}

<form method="post" action="{{ url_for('user_register') }}" enctype="multipart/form-data">
  <div class="form-group">
    <label for="name">Họ và Tên</label>
    <input type="text" class="form-control" placeholder="Nhập họ và tên..." id="name" name="name" required>
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="tel" class="form-control" placeholder="Nhập số usename..." id="username" name="username" required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" placeholder="Nhập password..." id="password" name="password" required>
  </div>
  <div class="form-group">
    <label for="confirm">Confirm pasword</label>
    <input type="password" class="form-control" placeholder="Nhập lại password..." id="confirm" name="confirm" required>
  </div>
  <div class="form-group">
    <label for="avatar">Ảnh đại diện</label>
    <input type="file" class="form-control" id="avatar" name="avatar">
  </div>
  <input type="submit" value="Đăng ký" class="btn btn-info">
</form>
{% endblock %}
